---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>👋안녕하세요!</h1>
			<p>
        		안녕하세요! 저는 2024년 가을학기에 국제분쟁의 이해를 듣고 있는 20240548 이재환입니다!
			</p>
			<p>
				정보는 전통적 언론이나 유튜브, 트위터와 같은 매체를 통해서 대부분 전달되지만, 다른 매체는 없을까 하는 생각에 개인 웹사이트를 생성하여 만들어보았습니다!
			</p>
			<p>
				소스코드의 경우에는 우측 상단의 깃허브 아이콘을 누르시면 확인하실 수 있습니다! 
			</p>
		</main>
		<Footer />
	</body>
</html>
