---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="참고문헌"
  description="참고문헌"
  pubDate={new Date("Nov 21 2024")}
  heroImage="/blog-placeholder-about.jpg"
>
  <ol>
    <li>Nagorno-Karabakh conflict: History, India’s response</li>
    <li>
      Human Rights Watch/Helsinki, Azerbaijan : Seven years of conflict in
      Nagorno-Karabakh, New York : Human Rights Watch, 1994
    </li>
    <li>
      Michael P. Croissant, The Armenia-Azerbaijan conflict : causes and
      implications, 1998
    </li>
    <li>
      아르메니아-아제르바이잔 분쟁의 기원과 전개: 정체성과 지정학적 이해의 충돌
    </li>
    <li>
      <a
        href="https://lab.imedd.org/en/underreported-the-crisis-of-nagorno-karabakh/"
      >
        Reporting the Nagorno-Karabakh crisis
      </a>
    </li>
    <li>
      <a href="https://biblicallandarmeniablog.wordpress.com/wp-content/uploads/2017/02/e7a75ffe-3309-401d-94e6-141b44a5d60e-1301-0000013aaf80522a_tmp.jpg"/>
    </li>
    <li>
      <a href="https://www.persecution.org/2024/04/03/tensions-remain-as-negotiations-stall-over-the-armenia-azerbaijan-border/"/>
      Tensions Remain as Negotiations Stall over the Armenia-Azerbaijan Border
    </li>
  </ol>
</Layout>
