---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="참고문헌"
  description="reference"
  pubDate={new Date("Nov 21 2024")}
  heroImage="/hss312/blog-placeholder-about.jpg"
>
  <ol>
    <li>Nagorno-Karabakh conflict: History, India’s response</li>
    <li>
      Human Rights Watch/Helsinki, Azerbaijan : Seven years of conflict in
      Nagorno-Karabakh, New York : Human Rights Watch, 1994
    </li>
    <li>
      Michael P. Croissant, The Armenia-Azerbaijan conflict : causes and
      implications, 1998
    </li>
    <li>
      <a
        href="https://m.hankookilbo.com/News/Read/A2020092913400004185?did=NA?did=NA"
      >
        끝나지 않는 비극, 나고르노카라바흐 전쟁
      </a>
    </li>
    <li>
      <a
        href="https://lab.imedd.org/en/underreported-the-crisis-of-nagorno-karabakh/"
      >
        Reporting the Nagorno-Karabakh crisis
      </a>
    </li>
    <li>
      <a href="https://www.joongang.co.kr/article/23896761">
        인구 15만 산속마을이 뭐길래, 러·이란·터키도 뛰어든 이 전쟁
      </a>
    </li>
    <li>
      <a
        href="https://biblicallandarmeniablog.wordpress.com/wp-content/uploads/2017/02/e7a75ffe-3309-401d-94e6-141b44a5d60e-1301-0000013aaf80522a_tmp.jpg"
      >
        The History of Armenia in Brief
      </a>
    </li>
    <li>
      <a
        href="https://www.persecution.org/2024/04/03/tensions-remain-as-negotiations-stall-over-the-armenia-azerbaijan-border/"
      >
        Tensions Remain as Negotiations Stall over the Armenia-Azerbaijan Border
      </a>
    </li>
    <li>
      <a
        href="https://www.primeminister.am/en/press-release/item/2020/06/30/Nikol-Pashinyan-Emmanuel-Macron/"
      >
        French President Emmanuel Macron offers his support to Prime Minister
        Pashinyan
      </a>
    </li>
    <li>
      AP Photo/Sergei Grits, Russian peacekeepers' vehicles are parked at a
      checkpoint on the road to Shusha in the separatist region of
      Nagorno-Karabakh in 2020.
    </li>
    <li>
      <a
        href="https://carnegieendowment.org/posts/2022/04/the-ukraine-war-is-reshaping-the-armenia-azerbaijan-conflict?lang=en"
      >
        The Ukraine War Is Reshaping the Armenia-Azerbaijan Conflict
      </a>
    </li>
    <li>
      <a href="http://www.koreapost.com/news/articleView.html?idxno=22823">
        "아제르바이잔 대통령은 국민들의 염원과 이상을 실현시키고 있습니다”
      </a>
    </li>
    <li>
      <a
        href="https://www.c-r.org/programme/caucasus/nagorny-karabakh-conflict-focus"
      >
        The Armenian-Azerbaijani conflict in focus
      </a>
    </li>
    <li>
      <a href="https://www.yna.co.kr/view/AKR20180508184600108">
        "예레반의 봄"…아르메니아 새 총리에 40대 반정부시위 지도자
      </a>
    </li>
    <li>
      <a
        href="https://asiatimes.com/2020/10/caucasus-war-a-result-of-us-retreat-from-the-world/"
      >
        Caucasus war a result of US retreat from the world
      </a>
    </li>
    <li>
      <a
        href="https://worldview.stratfor.com/article/f-16s-reveal-turkeys-drive-expand-its-role-southern-caucasus"
      >
        F-16s Reveal Turkey's Drive to Expand Its Role in the Southern Caucasus
      </a>
    </li>
  </ol>
</Layout>
