---
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const currentPostIndex = posts.findIndex((post) => post.slug == Astro.params.slug);
const previousPost = currentPostIndex + 1 === posts.length ? undefined : posts[currentPostIndex + 1];
const nextPost = currentPostIndex === 0 ? undefined : posts[currentPostIndex - 1];
---

{(previousPost || nextPost) && (
  <nav class="post-navigation">
    {previousPost ? (
      <a href={`/hss312/blog/${previousPost.slug}/`} class="nav-link previous">
        <span class="nav-label">이전 글</span>
        <span class="nav-title">{previousPost.data.title}</span>
      </a>
    ):(
      <a class="nav-link previous not-found">
        <span class="nav-label">이전 글</span>
        <span class="nav-title">이전 글이 없습니다.</span>
      </a>
    )
    
    }
    {nextPost ? (
      <a href={`/hss312/blog/${nextPost.slug}/`} class="nav-link next">
        <span class="nav-label">다음 글</span>
        <span class="nav-title">{nextPost.data.title}</span>
      </a>
    ):(
      <a class="nav-link next not-found">
        <span class="nav-label">다음 글</span>
        <span class="nav-title">다음 글이 없습니다.</span>
      </a>
    )}
  </nav>
)}

<style>
  .post-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
    width: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
  }

  .nav-link:hover {
    background-color: #ddd;
  }

  .nav-label {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 0.5rem;
  }

  .nav-title {
    font-weight: bold;
  }

  .previous {
    text-align: left;
  }

  .next {
    text-align: right;
  }

  .not-found {
    background-color: #BBB;
  }

  .not-found:hover {
    background-color: #CCC;
  }
</style>